$primary: #ea3c47;
$primary-invert: #ccc;
$success: #67C23A;
$success-invert: #90c220;
$warning: #E6A23C;
$warning-invert: #e6e11a;
$danger: #F56C6C;
$danger-invert: #f58e83;
$info: #909399;
$info-invert: #e2dcdb;
